<a href="https://colab.research.google.com/github/elizabethsardes/ME_364/blob/main/Homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework II - ME 364 (Spring 2022)

<font color='red'>__Question I :__</font> Consider the following dictionary
```python
dict = {'name':["Mason", "John", "Jean", "Sarah", "Frank", "Thomas", "Melisa", "Cindy"],
        'score':[90, 40, 80, 98, 99, 85, 56, 86],
        'degree': ["MBA", "CS", "CHEM", "MBA", "CIV", "MECH", "EE", "MBA"]}
```
__(a)__ Convert this dictionary into a _pandas_ DataFrame with the columns ordered as 'name', 'degree', 'score'.

In [ ]:
# Your code goes here
import pandas as pd
dict = {'name':["Mason", "John", "Jean", "Sarah", "Frank", "Thomas", "Melisa", "Cindy"],
        'score':[90, 40, 80, 98, 99, 85, 56, 86],
        'degree': ["MBA", "CS", "CHEM", "MBA", "CIV", "MECH", "EE", "MBA"]}
dict2frame = pd.DataFrame(dict, columns=['name', 'degree', 'score'])
dict2frame

     name degree  score
0   Mason    MBA     90
1    John     CS     40
2    Jean   CHEM     80
3   Sarah    MBA     98
4   Frank    CIV     99
5  Thomas   MECH     85
6  Melisa     EE     56
7   Cindy    MBA     86

__(b)__ Print the first three rows of the dataframe. Also, print the last two rows of the dataframe.

In [ ]:
# Your code goes here
import numpy as np
print(dict2frame.head(3))
print('\n')
print(dict2frame.tail(2))
print('\n')

print('OR')
frame2=pd.DataFrame(dict2frame, columns=['name', 'degree', 'score'],
                    index=[0,1,2,6,7])
frame2

    name degree  score
0  Mason    MBA     90
1   John     CS     40
2   Jean   CHEM     80


     name degree  score
6  Melisa     EE     56
7   Cindy    MBA     86


OR

     name degree  score
0   Mason    MBA     90
1    John     CS     40
2    Jean   CHEM     80
6  Melisa     EE     56
7   Cindy    MBA     86

__(c)__ Add the following column to the dataframe
``` 'age' : [19, 22, 20, 27, 25, 18, 20, 21] ```

In [ ]:
# Your code goes here
dict2frame['age']=[19, 22, 20, 27, 25, 18, 20, 21]
dict2frame

     name degree  score  age
0   Mason    MBA     90   19
1    John     CS     40   22
2    Jean   CHEM     80   20
3   Sarah    MBA     98   27
4   Frank    CIV     99   25
5  Thomas   MECH     85   18
6  Melisa     EE     56   20
7   Cindy    MBA     86   21

__(d)__ Define a list having the column names and print the elements in the list.

In [ ]:
# Your code goes here
listcol=dict2frame.columns
print(listcol)

Index(['name', 'degree', 'score', 'age'], dtype='object')

__(e)__ Define a new $\underline{dataframe}$ with columns `name` and `score`

In [ ]:
# Your code goes here
framenew=dict2frame[['name','score']]
framenew

     name  score
0   Mason     90
1    John     40
2    Jean     80
3   Sarah     98
4   Frank     99
5  Thomas     85
6  Melisa     56
7   Cindy     86

__(f)__ Select and print a dataframe containing the first two rows and columns `name` and `degree` using both methods `loc` and `iloc`

In [ ]:
# Your code goes here
import numpy as np

print('using loc:')
print(dict2frame.loc[[0,1],['name','degree']])

print('\n')

print('using iloc:')
print(dict2frame.iloc[[0,1],[0,1]])

using loc:
    name degree
0  Mason    MBA
1   John     CS


using iloc:
    name degree
0  Mason    MBA
1   John     CS

__(g)__ Sort the dataframe such that you get the dataframe in the following order. Use an option in your command to apply the changes to the dataframe in place.

| name |	degree |	score |	age |
| ---- | ------- | ------ | --- |
| Jean 	| CHEM 	| 80 	| 20 |
| Frank |	CIV 	| 99 	| 25 |
| John 	| CS 	| 40 	| 22 |
| Melisa |	EE |	56 |	20 |
| Cindy |	MBA  |	86 |	21 |
| Mason |	MBA | 90 |	19 |
| Sarah |	MBA |	98 |	27 |
| Thomas | 	MECH |	85 |	18 |

In [68]:
# Your code goes here
import numpy as np
dict2frame
dict2frame.sort_values('degree',inplace=True)
dict2frame

     name degree  score  age
2    Jean   CHEM     80   20
4   Frank    CIV     99   25
1    John     CS     40   22
6  Melisa     EE     56   20
0   Mason    MBA     90   19
3   Sarah    MBA     98   27
7   Cindy    MBA     86   21
5  Thomas   MECH     85   18

<font color='red'>__Question II :__</font> Upload the fuel economy dataset, which comes as an excel file with this homework assignment, to a repository in the GitHub account that you created (or an account you already have). Then, import the dataset into this notebook using the link for that file from your GitHub account. This is an excel file so you might have to take some extra steps to get the link to the raw data on your GitHub account.

In [26]:
# Your code goes here
url= 'https://raw.githubusercontent.com/elizabethsardes/ME_364/main/Homework/HW2/FuelEconomy.csv'
df1 = pd.read_csv(url, header=None, names=['Model','Displ','Cyl','Trans','Drve','Fuel','Cert Region', 'Stnd', 'Stnd Description', 'Underhood ID', 'Veh Class','Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG', 'Greenhouse Gas Score','SmartWay','Comb CO2'])
df1.drop(index=0,inplace=True)
df1.head(10)

               Model  Displ  Cyl  ... Greenhouse Gas Score SmartWay Comb CO2
1          ACURA ILX    2.4  4.0  ...                    6       No      316
2          ACURA MDX    3.0  6.0  ...                    6       No      333
3          ACURA MDX    3.0  6.0  ...                    6       No      333
4          ACURA MDX    3.5  6.0  ...                    5       No      387
5          ACURA MDX    3.5  6.0  ...                    5       No      387
6          ACURA MDX    3.5  6.0  ...                    4       No      404
7          ACURA MDX    3.5  6.0  ...                    4       No      404
8   ACURA MDX A-spec    3.5  6.0  ...                    4       No      415
9   ACURA MDX A-spec    3.5  6.0  ...                    4       No      415
10         ACURA NSX    3.5  6.0  ...                    4       No      420

[10 rows x 18 columns]

__(a)__ Print a list of the unique Transmission types.

In [28]:
# Your code goes here
df1['Trans'].unique()

array(['AMS-8', 'AMS-7', 'SemiAuto-9', 'AMS-9', 'SemiAuto-10',
       'AutoMan-6', 'Auto-8', 'SemiAuto-8', 'Man-7', 'SemiAuto-7',
       'Auto-1', 'Man-6', 'Auto-6', 'Auto-9', 'SemiAuto-6', 'CVT',
       'Auto-10', 'Man-5', 'Auto-4', 'AutoMan-7', 'SCV-7', 'AMS-6',
       'SCV-8', 'SCV-6', 'SCV-10', 'Auto-7', 'AutoMan-8', 'Auto-2',
       'SemiAuto-5'], dtype=object)

__(b)__ Create a new dataframe with all the cars with Greenhouse Gas Score of 1. How many cars are in this dataframe ?

In [29]:
# Your code goes here
df1new=df1[ df1['Greenhouse Gas Score']==1 ]
df1new

                                 Model  Displ  ...  SmartWay Comb CO2
148                   BENTLEY Bentayga    6.0  ...        No      645
149                   BENTLEY Bentayga    6.0  ...        No      645
150                     BENTLEY Chiron    8.0  ...        No      840
151                     BENTLEY Chiron    8.0  ...        No      840
162                   BENTLEY Mulsanne    6.8  ...        No      749
163                   BENTLEY Mulsanne    6.8  ...        No      749
394                       BUGATTI Divo    8.0  ...        No      864
395                       BUGATTI Divo    8.0  ...        No      864
698              FERRARI 812 Superfast    6.5  ...        No      661
699              FERRARI 812 Superfast    6.5  ...        No      661
702                  FERRARI GTC4Lusso    6.3  ...        No      661
703                  FERRARI GTC4Lusso    6.3  ...        No      661
809                            FORD GT    3.5  ...        No      632
810                            FORD GT    3.5  ...        No      632
843          FORD Shelby GT500 Mustang    5.2  ...        No      631
844          FORD Shelby GT500 Mustang    5.2  ...        No      631
1329     JEEP Grand Cherokee Trackhawk    6.2  ...        No      664
1330     JEEP Grand Cherokee Trackhawk    6.2  ...        No      664
1451       LAMBORGHINI Aventador Coupe    6.5  ...        No      787
1452       LAMBORGHINI Aventador Coupe    6.5  ...        No      787
1453    LAMBORGHINI Aventador Roadster    6.5  ...        No      806
1454    LAMBORGHINI Aventador Roadster    6.5  ...        No      806
1463                  LAMBORGHINI Urus    4.0  ...        No      617
1464                  LAMBORGHINI Urus    4.0  ...        No      617
1553                      LEXUS LX 570    5.7  ...        No      636
1554                      LEXUS LX 570    5.7  ...        No      636
1763             MERCEDES-BENZ AMG G63    4.0  ...        No      637
1764             MERCEDES-BENZ AMG G63    4.0  ...        No      637
1837                MERCEDES-BENZ G550    4.0  ...        No      609
1838                MERCEDES-BENZ G550    4.0  ...        No      609
2202              ROLLS-ROYCE Cullinan    6.7  ...        No      619
2203              ROLLS-ROYCE Cullinan    6.7  ...        No      619
2204  ROLLS-ROYCE Cullinan Black Badge    6.7  ...        No      619
2205  ROLLS-ROYCE Cullinan Black Badge    6.7  ...        No      619
2206                  ROLLS-ROYCE Dawn    6.6  ...        No      637
2207                  ROLLS-ROYCE Dawn    6.6  ...        No      637
2208                 ROLLS-ROYCE Ghost    6.6  ...        No      637
2209                 ROLLS-ROYCE Ghost    6.6  ...        No      637
2210             ROLLS-ROYCE Ghost EWB    6.6  ...        No      637
2211             ROLLS-ROYCE Ghost EWB    6.6  ...        No      637
2212               ROLLS-ROYCE Phantom    6.7  ...        No      615
2213               ROLLS-ROYCE Phantom    6.7  ...        No      615
2214           ROLLS-ROYCE Phantom EWB    6.7  ...        No      615
2215           ROLLS-ROYCE Phantom EWB    6.7  ...        No      615
2216                ROLLS-ROYCE Wraith    6.6  ...        No      624
2217                ROLLS-ROYCE Wraith    6.6  ...        No      624
2218                        ROUSH F150    5.0  ...        No      689
2219                        ROUSH F150    5.0  ...        No      689
2220                        ROUSH F150    5.0  ...        No      689
2221                        ROUSH F150    5.0  ...        No      689
2224             ROUSH Stage 3 Mustang    5.0  ...        No      618
2225             ROUSH Stage 3 Mustang    5.0  ...        No      618
2384               TOYOTA Land Cruiser    5.7  ...        No      618
2385               TOYOTA Land Cruiser    5.7  ...        No      618
2412                    TOYOTA Sequoia    5.7  ...        No      618
2413                    TOYOTA Sequoia    5.7  ...        No      618
2434                     TOYOTA Tundra    5.7  ...        No      614
2435                     TOYOTA Tundra    5.7  ...        No      614

[58 rows x 18 columns]

__(c)__ Use the method `where` to replace the values of `small car` under the column `Veh Class` with `Small Car`.

In [63]:
# Your code goes here
df1['Veh Class'].where(df1['Veh Class']=='small car','Small Car',inplace=True)
df1

           Model  Displ  Cyl  ... Greenhouse Gas Score SmartWay Comb CO2
1      ACURA ILX    2.4  4.0  ...                    6       No      316
2      ACURA MDX    3.0  6.0  ...                    6       No      333
3      ACURA MDX    3.0  6.0  ...                    6       No      333
4      ACURA MDX    3.5  6.0  ...                    5       No      387
5      ACURA MDX    3.5  6.0  ...                    5       No      387
...          ...    ...  ...  ...                  ...      ...      ...
2518  VOLVO XC90    2.0  4.0  ...                    4       No      429
2519  VOLVO XC90    2.0  4.0  ...                    5       No      387
2520  VOLVO XC90    2.0  4.0  ...                    5       No      387
2521  VOLVO XC90    2.0  4.0  ...                   10    Elite      193
2522  VOLVO XC90    2.0  4.0  ...                   10    Elite      193

[2522 rows x 18 columns]

__(d)__ What is the average value of Greenhouse Gas Score for the cars in this dataset? What is the average Greenhous Gas Score for the cars with 4 cylinders.

In [64]:
# Your code goes here
df1_ghgscoremean=df1['Greenhouse Gas Score'].mean()
print('Average Greenhouse Gas Score:',df1_ghgscoremean)

#find with where method, make new DF, find new mean

df1_4cyl=df1[df1['Cyl']==4]
df1_4cyl_ghgscoremean=df1_4cyl['Greenhouse Gas Score'].mean()
print('Average Greenhouse Gas Score for Cars with 4 Cylinders:', df1_4cyl_ghgscoremean)

Average Greenhouse Gas Score: 4.910785091197463
Average Greenhouse Gas Score for Cars with 4 Cylinders: 5.977578475336323

<font color='red'>__Question III :__</font> There are two csv files attached to this homework assignment, file1.csv and file2.csv. Either import them directly (from your computer) or upload them on your GitHub account and use the links to import them as two separate dataframes. Name the dataframe created from file1 `df1` and the dataframe created from file2 `df2`.

In [79]:
# Your code goes here
url1='https://raw.githubusercontent.com/elizabethsardes/ME_364/main/Homework/HW2/file1.csv'
df1 = pd.read_csv(url1)
url2='https://raw.githubusercontent.com/elizabethsardes/ME_364/main/Homework/HW2/file2.csv'
df2=pd.read_csv(url2)

print(df1)
print('\n')
print(df2)

        ID  Cord (m)  SSD_Thickness (m)
0      290    0.2286           0.003724
1      773    0.0508           0.000812
2     1201    0.0254           0.017663
3     1181    0.0254           0.017221
4     1044    0.0254           0.000907
...    ...       ...                ...
1195  1020    0.0254           0.000873
1196   410    0.2286           0.011171
1197   644    0.1524           0.019300
1198   750    0.0508           0.000762
1199  1482    0.1016           0.043726

[1200 rows x 3 columns]


      ID  Frequency (Hz)  Attack_Angle (deg)  FS_Velocity (m/s)
0    257            8000                 2.0               71.3
1    580            4000                 5.4               39.6
2    150            1600                 3.0               31.7
3    117            1000                 3.0               55.5
4    934            6300                15.4               31.7
..   ...             ...                 ...                ...
898  912            1600                15.4               39.6
899   39            1600                 0.0               39.6
900  502            1000                 0.0               31.7
901  204             500                 0.0               55.5
902  534            2500                 2.7               39.6

[903 rows x 4 columns]

__(a)__ Combine these two dataframes using the `ID` column such that all the rows from both dataframes are in the combined dataframe.

In [81]:
# Your code goes here
outer_merged=pd.merge(df1,df2, how='outer', on=['ID'])
outer_merged

        ID  Cord (m)  ...  Attack_Angle (deg)  FS_Velocity (m/s)
0      290    0.2286  ...                 NaN                NaN
1      773    0.0508  ...                 NaN                NaN
2     1201    0.0254  ...                 NaN                NaN
3     1181    0.0254  ...                 NaN                NaN
4     1044    0.0254  ...                 NaN                NaN
...    ...       ...  ...                 ...                ...
1498   912       NaN  ...                15.4               39.6
1499    39       NaN  ...                 0.0               39.6
1500   502       NaN  ...                 0.0               31.7
1501   204       NaN  ...                 0.0               55.5
1502   534       NaN  ...                 2.7               39.6

[1503 rows x 6 columns]

__(b)__ Combine these two dataframes using the `ID` column such that all the rows from `df1` and the rows that are common between `df1` and `df2` are in the combined dataframe.

In [83]:
# Your code goes here
concatenated=pd.concat([df1,df2])
concatenated

       ID  Cord (m)  ...  Attack_Angle (deg)  FS_Velocity (m/s)
0     290    0.2286  ...                 NaN                NaN
1     773    0.0508  ...                 NaN                NaN
2    1201    0.0254  ...                 NaN                NaN
3    1181    0.0254  ...                 NaN                NaN
4    1044    0.0254  ...                 NaN                NaN
..    ...       ...  ...                 ...                ...
898   912       NaN  ...                15.4               39.6
899    39       NaN  ...                 0.0               39.6
900   502       NaN  ...                 0.0               31.7
901   204       NaN  ...                 0.0               55.5
902   534       NaN  ...                 2.7               39.6

[2103 rows x 6 columns]

__(c)__ Combine these two dataframes using the `ID` column such that the combined dataframe includes only the rows that are common between two dataframes.

In [84]:
# Your code goes here
dfIDinnerjoin=pd.merge(df1,df2)
dfIDinnerjoin

       ID  Cord (m)  ...  Attack_Angle (deg)  FS_Velocity (m/s)
0     257    0.2286  ...                 2.0               71.3
1     580    0.1524  ...                 5.4               39.6
2     150    0.3048  ...                 3.0               31.7
3     117    0.3048  ...                 3.0               55.5
4     934    0.0508  ...                15.4               31.7
..    ...       ...  ...                 ...                ...
595  1020    0.0254  ...                 4.8               55.5
596   410    0.2286  ...                 7.3               55.5
597   644    0.1524  ...                 9.9               71.3
598   750    0.0508  ...                 0.0               55.5
599  1482    0.1016  ...                15.6               71.3

[600 rows x 6 columns]